.project {
  .panel {
    position: relative;
  }

  .avatar-image {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: .5em;
    vertical-align: middle;
  }
  
  .project-image {
    @include border-radius($global-radius $global-radius 0 0);
    display: block;
    margin-bottom: $panel-padding;
    margin-left: -$panel-padding;
    margin-right: -$panel-padding;
    margin-top: -$panel-padding;
  }

  .project-title {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: .5em;
  }

  .project-user {
    span {
      position: relative;
      top: 2px;
    }
  }

  .description {
    font-size: rem-calc(14);
    margin-top: rem-calc(7);

    span {
      font-family: $body-font-family;
      font-weight: bold;
    }

    &:before {
      float: left;
      margin-right: rem-calc(5);
      opacity: .5;
      position: relative;
      top: 1px;
    }
  }

  .adopters {
    height: 3.4em;
    overflow: hidden;

    h5 {
      font-size: .9em;
      font-weight: bold;
      margin-top: 0;
    }

    hr {
      margin: 1em 0;
    }

    .adopter {
      display: inline-block;
      margin-bottom: 1em;
    }

    .plus {
      display: inline-block;
      font-weight: bold;
      padding-top: .1em;
      vertical-align: middle;
    }

    .empty {
      font-size: .8em
    }
  }

  .project-ribbon {
    position: absolute;
    z-index: 1;
    background: $secondary-color;
    color: white;
    top: 0;
    width: 100%;
    left: 0;
    padding: 0 1em;
    font-size: 0.9em;
    text-align: center;
  }

  .project-statuses {
    margin-bottom: .25em;

    .label {
      font-size: .7em;
      width: 32%;
      margin-right: 2%;
      overflow: hidden;
      &.on {
        background: $secondary-color;
      }
      &.off {
        background: #4A5C67;
        color: #8898A2;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
