.project
  text-align: center
  .title
    font-size: rem-calc(20)
    color: $text-gray
    margin-bottom: rem-calc(20)
    line-height: 110%
  .description
    color: $light-green
    text-transform: uppercase
  .counter
    color: $text-gray
    font-size: rem-calc(32)
    margin-bottom: rem-calc(10)
  hr
    border-color: $light-green
  .description, .counter-label, .counter
    font-weight: bold
  .description, .counter-label
    font-size: rem-calc(14)
