body.projects.show {
  h3,
  p,
  span {
    color: $text-gray;
  }
  .meurio_header {
    margin-bottom: 0;
  }
  .cover {
    background: asset-url("default-project-bg.jpg") center center;
    background-size: cover;
    padding-bottom: rem-calc(40);
    padding-top: rem-calc(40);
    h1 {
      color: white;
      font-size: rem-calc(40);
      text-align: center;
    }
    p.info,
    span.info {
      color: $light-green;
      display: block;
      margin-bottom: rem-calc(20);
      text-align: center;
    }
    p.info {
      text-transform: uppercase;
    }
    .full {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: .5em;
      padding: .7em;
      width: 100%;
    }
  }
  .accepted,
  .rejected {
    h2 {
      color: white;
      font-weight: bold;
      line-height: 100%;
      margin-bottom: 0;
      margin-top: rem-calc(20);
      text-transform: uppercase;
    }
    span {
      color: $yellow;
    }
  }
  .steps {
    background: $dark-green;
    color: white;
    margin-bottom: rem-calc(40);
    padding: rem-calc(25) 0;
    .step {
      margin-bottom: 2em;
    }
    .step-number {
      font-size: rem-calc(14);
    }
    .step-name {
      font-weight: bold;
      text-transform: uppercase;
      span {
        color: $white;
        padding-bottom: 10px;
      }
    }
    img,
    .step-number {
      margin-bottom: rem-calc(10);
    }
    img {
      width: 73px;
      height: 73px;
    }
  }
  .panel {
    @include border-radius(10px);
    .empty p {
      padding-bottom: rem-calc(16);
    }
    .item {
      display: block;
      margin-bottom: 1em;
      .cta {
        padding: 0;
        a {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
      }
      .data-container {
        margin-bottom: .5em;
        padding-left: 0;
        img {
          width: 50px;
          @include border-radius(50%);
        }
        .data {
          display: inline-block;
          padding-left: 0.5em;
          vertical-align: middle;
          strong {
            display: block;
            font-size: rem-calc(14);
          }
          span {
            color: $yellow;
            font-size: rem-calc(20);
            font-weight: bold;
            &.number {
              font-size: rem-calc(30);
            }
          }
        }
      }
    }
    &.preview {
      iframe {
        height: 30em;
        width: 100%;
      }
    }
    .not-processing {
      text-align: center;
      img {
        padding: rem-calc(20) 0;
      }
      .strong {
        color: $light-green;
        display: block;
        font-size: rem-calc(18);
        font-weight: 500;
        margin-bottom: rem-calc(14);
      }
    }
  }
  .title {
    padding-bottom: 1em;
    img {
      margin: 0 0.5em 0 0;
      width: 40px;
    }
    h3 {
      display: inline-block;
      font-size: rem-calc(18);
      font-weight: bold;
      margin: 0;
      vertical-align: middle;
    }
  }

  .joyride-content-wrapper {
    p {
      color: $white;
    }
  }
}

@media #{$large-up} {
  body.projects.show {
    form .row.collapse {
      .first-name-field {
        padding-right: .5em;
      }
      .last-name-field {
        padding-left: .5em;
      }
    }
    .step {
      margin-bottom: 0 !important;
    }
  }
}
