body.projects.show
  .meurio_header
    margin-bottom: 0
  .cover
    background: asset-url('default-project-bg.jpg') center center
    background-size: cover
    padding-top: rem-calc(40)
    margin-bottom: rem-calc(40)
    h1
      font-size: rem-calc(40)
      text-align: center
      color: white
    p.info
      color: $light-green
      text-align: center
      text-transform: uppercase
      margin-bottom: rem-calc(40)