.ProjectPanel {
  @include box-shadow(2px 2px 2px $iron);
  @include border-radius(10px);
  background: white;
  padding: 2em;
  text-align: center;

  .UserPartial {
    text-align: left;
  }

  img {
    margin-bottom: 1em;
  }

  .highlight {
    font-size: 1.5em;
    line-height: 1em;
  }

  p, a {
    &:last-child {
      margin: 0;
    }
  }

  .text-colored {
    color: $light-green;
  }

  h4 {
    color: $light-green;
    font-weight: bold;
    margin-bottom: 0;
  }

  &.ProjectPanel--colored {
    background: $light-green;
    color: white;

    a {
      color: white;
    }
  }
}
