.ProjectCover {
  color: white;
  background-image: image-url("default-project-bg.jpg");
  background-size: cover;
  padding: 2em 0;

  h1 {
    color: white;
    margin-bottom: 0;
    line-height: normal;
  }

  .ProjectCover-details {
    text-transform: uppercase;
    color: $light-green;
    margin-bottom: 1em;
    font-size: .9em
  }

  .ProjectCover-abstract {
    p {
      font-size: 1.5em;
      line-height: 1.25em;
    }
  }

  .panel {
    @include box-shadow(2px 2px 2px #333);
    margin: 0;
    background: $dark-green;
    text-align: center;
    color: white;

    h2, p {
      color: white
    }

    img {
      margin-bottom: 1em;
      margin-top: -63px;
    }
  }

  .UserPartial-userName {
    color: $yellow;
  }
}
