.StepsList {
  padding-top: 1.5em;
  background: $dark-green;
  color: white;
  text-align: center;

  h2 {
    color: white;
  }

  p {
    line-height: 1em;
  }

  .StepsList-step {
    img {
      width: 70px;
      height: 70px;
      margin-bottom: 1em;
    }

    p {
      font-size: 1.1em;
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    p.locked {
      color: $darker-green;
      font-weight: 500;
    }
  }

  .StepsList-bubble {
    height: 20px;

    &:before {
      text-align: center;
      content: "";
      border-style: solid;
      border-width: 0px 20px 20px;
      border-color: $light-green transparent;
      display: inline-block;
    }
  }
}

@media #{$small-only} {
  .StepsList {
    display: none;
  }
}
