@import colors
@import fonts
@import foundation_and_overrides
@import compass
@import meurio_ui
@import datetimepicker
@import projects

h1, h2, p, a
  font-family: "Proxima Nova Soft"

.share-on-facebook-button
  background: $facebook-blue
  &:hover
    background: darken($facebook-blue, 10%)

.share-on-twitter-button
  background: $twitter-blue
  &:hover
    background: darken($twitter-blue, 10%)

.reveal-modal
  +border-radius(10px)

ul.accordion
  margin: 0
