.share-on-facebook-button {
  background: $facebook-blue;
  &:hover {
    background: darken($facebook-blue, 10%);
  }
}

.share-on-twitter-button {
  background: $twitter-blue;
  &:hover {
    background: darken($twitter-blue, 10%);
  }
}

.reveal-modal {
  @include border-radius(10px);
  h2,
  p {
    font-size: rem-calc(18);
  }
  .title {
    margin-bottom: 1em;
    img {
      margin: 0 0.5em 0 0;
    }
    h2 {
      color: $light-green;
      display: inline-block;
      font-weight: 500;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
}

ul.accordion {
  margin: 0;
}

dd.accordion-navigation {
  [class^="icon-"] {
    line-height: rem-calc(35);
    &:before {
      color: $aluminum;
      display: inline-block;
      font-size: rem-calc(25);
      position: relative;
      text-align: center;
      top: 5px;
      width: 50px;
    }
  }
}

.panel {
  @include box-shadow(2px 2px 2px $iron);
  h2 {
    background: $silver;
    color: $steel;
    font-size: rem-calc(20);
    margin-left: rem-calc(-20);
    margin-right: rem-calc(-20);
    margin-top: rem-calc(-20);
    padding: rem-calc(20);
  }
}

.meurio_header {
  margin-bottom: rem-calc(40);
  .alert {
    display: none;
  }
}

footer {
  margin-bottom: rem-calc(40);
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

label.required {
  &:before {
    content: "*";
  }
}

.orbit-bullets {
  margin: 5px;
}

.orbit-timer {
  display: none;
}
