.u-uppercase { text-transform: uppercase; letter-spacing: 2px; }

.u-bold { font-weight: bold; }
.u-normalLineHeight { line-height: normal; }

.u-mb0 { margin-bottom: 0 !important; }
.u-mb1 { margin-bottom: 1em !important; }
.u-mb2 { margin-bottom: 2em !important; }
.u-mb3 { margin-bottom: 3em !important; }
.u-mb4 { margin-bottom: 4em !important; }

.u-mt0 { margin-top: 0 !important; }
.u-mt1 { margin-top: 1em !important; }
.u-mt2 { margin-top: 2em !important; }
.u-mt3 { margin-top: 3em !important; }

.u-fontSize08 { font-size: .8em !important; }
.u-fontSize12 { font-size: 1.2em !important; }
.u-fontSize15 { font-size: 1.5em !important; }
.u-fontSize2 { font-size: 2em !important; }
.u-fontSize3 { font-size: 3em !important; }

.u-underline { text-decoration: underline; }

.u-alert {
  color: red;
  &:hover {
    color: darken(red, 10%);
  }
}

.u-opacity5 { opacity: .5; }
