javascript:
  var _mfq = _mfq || [];
  (function() {
    var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
    mf.src = "//cdn.mouseflow.com/projects/e8faec69-fe24-4fbf-b428-ab629a54c1ea.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();